*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#main-div{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}

#header {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 159px;
}

#logo-div{
  width: 50%;
  height: 100%;
}


#top-bar-div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

}

nav {
  display: flex;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

#home-div,
#about,
#contact {
  display: flex;
  flex-direction: column;
 
}

#about-div{
  display: flex;
  width:100%;
  height:100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


#home {
  width: 100%;
  height: 500px;
}

#banners-div {
  display: flex;
  width: 100%;
  height: 100%;
  background-image: url(
      "https://plus.unsplash.com/premium_photo-1701892428860-ca4913e92274?q=80&w=1331&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D")
}

#banner1-div {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-top: auto;
  height: 50%;
  padding: 5%;
}

.banner1-btn {
  margin-top: 50px;
  color: White;
  background-color: #0043C6;
  width: 100%;
  height: 100%;
  border-radius: 24px;
  border-color: blue;
}

#banner2-div {
  display: flex;
  width: 50%;
  height: 50%;
  margin-top: 5%;
  padding: 5%;
  background-color: rgb(174, 206, 226);
}

.description{
  margin-top: auto;
}

#banners-contact-div {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 500px;
}


#banner1-contact-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  padding: 5%;
  margin-left: 0px;
}

#banner2-contact-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 50%;
  padding: 5%;
  background-color: rgb(174, 206, 226);
}

#section {
  
  display: flex;
  height: 400px;
  width:100%;
  flex-direction: row;
  justify-content: space-between;
  background-color: #0043C6C2;
}

.card {
  width: 30%;
  height: 20%;
  border-radius: 8px;
  color: aliceblue;
  font-size: larger;
  padding: 30px;
  text-align: center;
}

#sections-div {
  display: flex;
  width: 100%;
  height: 100%;
}

#banner3-div {
  display: flex;
  width: 50%;
  padding: 5%;
}

#banner4-div {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  margin-top: auto;
  padding: 5%;
}

#section2 {
  padding: 50px;
  display: flex;
  height: 100%;
  width:100%;
  flex-direction: column;
  justify-content: space-between;
  background-color: lightgrey;
}

#banner5 {
  display: flex;
  width:100%;
  height: 100%;
  flex-direction: row;
  justify-content: space-between;
  margin:auto
}

#section3 {
  padding: 5%;
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
}


#section3-part1 {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-top: 100px;

}


.banner6 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height:auto;
  margin: auto;

}

.banner7 {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height:100%;
  padding-Bottom:5%;
}


#contactSection2{
  padding: 2%;
  margin: auto;
  width:100%;
  height:100%;
  box-sizing: border-box;
  background-color: rgb(174, 206, 226);
 
}



#section4 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px;
  height: 300px;
  background-color: lightgrey;
}
#section0 {
  display: flex;
  
}

.banner6 .card {
  height:200px;
  color:black;
  width:50%
}

#heading {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}

#heading h1 {
  font-size: 40px;
  text-align: center;
}



#email{
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
}
#call{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}




#footer {
  background-color: #0043C6C2;
  padding: 10px;
  text-align: center;
  color: white;
  width:100%;
  height:100%
}
* {
  margin: 0;
  padding: 0;
  font-size: large;
}



a li {
  color: rgb(0, 0, 0);
}

.red {
  background-color: rgb(0, 136, 255);
}

#sectionCard{
  height: 400px;
}

#sectionCard, h1, p{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin-top: 5%;
  color: black;
}

#contact{
  display: flex;
  flex-direction: column;
}



#fields{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.fields{
  display: flex;
  justify-content: space-between;
}

.fields input {
  width: 48%
}

.fields select {
  width: 50%
}

.fields textarea{
  width: 100%;
  height: 150px;
}


/* Header.css */

.sticky-header {
  position: -webkit-sticky; /* For Safari */
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #fff;
  padding: 10px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000; /* Ensure the header is on top of other elements */
}

.header-container {
  display: flex;
  align-items: center; /* Vertically center logo and menu */
  width: 100%;
  height: 50px;
}

.logo{
  width: 10%;
  height: 60px;
}

.nav{
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.logo img {
  width: 100%;
  height: 100%; /* Adjust the size of the logo */
}

.menu ul {
  list-style-type: none;
  display: flex;
}

.menu li {
  display: flex;
  margin-left: 20px;
}

.menu a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

nav li:hover {
  background-color: #6aa8eb; /* Change color on hover */
}
